.body-holder {
  text-align: center;
  height: 100%;
  position: relative;
}

.body-holder header {
  background-color: #222;
  height: 35%;
  min-height: 350px;
  padding: 20px;
  color: white;
  position: relative;
}

.body-holder header nav {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.body-holder header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.body-holder header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.body-holder header nav ul li a {
  color: #fff;
  font-size: 25px;
}

.body-holder header nav ul li a:hover,
.body-holder header nav ul li a.active {
  text-decoration: none;
}

.logo-slogan-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
}

.logo-slogan-holder img {
  height: 100px;
}

.intro {
  font-size: large;
}
