.server-data-holder {
  & {
    width: 95%;
    max-width: 500px;
    margin: 10px auto;
    padding: 30px 10px;
  }

  & label,
  & span {
    display: inline-block;
    width: 120px;
    text-align: right;
    padding: 0 5px;
    margin: 5px 0;
  }

  & span {
    text-align: left;
    width: 160px;
  }
}
